<h1>Randomized dice roll outcome</h1>
<p>Instructions - generate 2 random die rolls</p>

<% die1 = rand(1..6) %>
<% die2 = rand(1..6) %>
<% total = die1 + die2 %>

<p>Die 1: <%= die1 %></p>
<p>Die 2: <%= die2 %></p>
<p>Total: <%= total %></p>

<end>
