<h1>Randomized dice roll outcomes</h1>
<p>Instructions - generate 2 random die rolls</p>

<% die1 = rand(1..6) %>
<% die2 = rand(1..6) %>
<% total = die1 + die2 %>

<p>
<img src="/images/dice/<%=die1%>.svg" alt="Output of the die 1 roll">
<img src="/images/dice/<%=die2%>.svg" alt="Output of the die 2 roll">
</p>

<p>Total: <%= total %></p>

<p>
<a href="/dice">
Roll again
</p>

<end>
