<!-- name the header -->
<h1>Contacts</h1>

<!-- Define and find in the array -->
<% contacts = Contact.all %>

<!--Display the array in the terminal to understand column names or go to scriptsthen create_data -->

<%= puts contacts.inspect%>

<!--Creates the loop to display contact first name, last name, and company name-->

<ul>
  <% for contact in contacts %>
    <% company = Company.find_by("id" => contact.company_id) %>
    <li>
      <!-- Both bracket and dot notation are valid in Rails -->
      <%= contact["first_name"] %> <%= contact.last_name %> — 
      <%= company.name %>
    </li>
  <% end %>
</ul>