<h1>Tacos!</h1>

<p>There are so many delicious tacos!</p>

<%= fillings = ["Carnitas", "Pescado", "Al Pastor", "Mushroom", "Birria"]%>

<ul>
<li><%=fillings [0]%></li>
</ul>

<ul>
  <% for filling in fillings %>
    <li> <%= filling %> </li>
    <%end%>
</ul>
